{% if user.field_civility.value == 'mr' %}
	{% set photo = base_path ~ directory ~ "/images/homme.png" %}
	{% set civility = 'Monsieur' %}
{% elseif user.field_civility.value == 'mme' %}
	{% set photo = base_path ~ directory ~ "/images/femme.png" %}
	{% set civility = 'Madame' %}
{% endif %}
{% set fullname =  user.field_firstname.value ~' '~  user.field_lastname.value %}

<div class="w3-card-4 mb-4">
	<header class="w3-container w3-indigo">
		<h4>{{ fullname }}
			<span class="badge bg-success w3-center">{{ user.field_user_type.value }}</span>
			<a class="float-end" href="" data-bs-toggle="modal" data-bs-target="#myModal{{ user.id }}">
				<i class="fa fa-edit" style="font-size:24px"></i>
			</a>
		</h4>
	</header>
	<div class="w3-container mb-3">
		<div class="row">
			<div class="col-4 photo-child mt-3">
				{% if user.user_picture is not empty %}
					{{ drupal_field('user_picture', 'user', user.id) }}
				{% else %}
					<img src="/{{ photo }}" class="img-fluid rounded-circle" alt="{{ user.name.value }}">
				{% endif %}
			</div>
			<div class="col">
				<table class="w3-table w3-bordered">
					<tr>
						<td>Civilite:</td>
						<td>{{ civility }}</td>
					</tr>
					<tr>
						<td>Fonction:</td>
						<td>{{ user.field_fonction.value }}</td>
					</tr>
					<tr>
						<td>Email:</td>
						<td>{{ user.mail.value }}</td>
					</tr>
					<tr>
						<td>Telephone:</td>
						<td>{{ user.field_phone.value }}</td>
					</tr>
					<tr>
						<td>Adresse:</td>
						<td>{{ user.field_address.value }}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<footer class="w3-container w3-light-grey  w3-border w3-padding">
		{% if children|length == 0 %}
			<a href="/parent/{{user.id}}/child/create" class="btn btn-warning">Ajouter un enfant</a>
		{% else %}
			<a href="/parent/{{user.id}}/children" class="btn btn-success">Mes Enfants
				<span class="w3-badge">{{children|length }}</span>
			</a>
		{% endif %}

	</footer>
</div>

{% include '@madrassa/modals/modal_parent.html.twig' with {
		'title': 'Modifier - ' ~ fullname,
		'size': 'modal-lg',
		'user': user,
		'modal_id': 'myModal' ~ user.id,
		'header_title_modal': 'Modal Header',
	}
	%}
