{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{# {% if title %}
	<h3>{{ title }}</h3>
{% endif %}
<div class="row">
	{% for row in rows %}
	{{dd(row)}}
		<div class="col-6">
			<div class="w3-card-4">

				<header class="w3-container w3-blue">
					<h1>Header</h1>
				</header>

				<div class="w3-container">
					<p>Lorem ipsum...</p>
				</div>

				<footer class="w3-container w3-blue">
					<h5>Footer</h5>
				</footer>

			</div>
		</div>
	{% endfor %}
</div> #}
{# {% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% for row in rows %}
  {%
    set row_classes = [
      default_row_class ? 'views-row',
    ]
  %}
  <div{{ row.attributes.addClass(row_classes) }}>
    {{- row.content -}}
  </div>
{% endfor %} #}