{{ attach_library('madrassa/modal') }}
<!-- Modal -->
<div class="modal fade" id="{{ modal_id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog {{ size }} modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ title }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ contents }}
      </div>
      <div class="modal-footer">
       {{ footer_modal|raw }}
      </div>
    </div>
  </div>
</div>