{{ attach_library('madrassa_registration/registration') }}

{% if child.getGender() == 'Garçon' %}
	{% set photo =  child.getPath() ~ '/images/children/garcon.jpeg' %}
	{% set gender = 'Garçon' %}
{% elseif child.getGender() == 'Fille' %}
	{% set photo = child.getPath() ~ '/images/children/fille.png' %}
	{% set gender = 'Fille' %}
{% endif %}

{% if parent.getCivility() == 'Monsieur' %}
	{% set picture =  parent.getPath() ~ '/images/homme.png' %}
{% else %}
	{% set picture = parent.getPath() ~ '/images/femme.png' %}
{% endif %}

<div class="container">
	<ul class="breadcrumb mt-5 mb-5">
		<li>
			<a href="/admin/dashboard">Dashboard</a>
		</li>
		<li>
			<a href="#">Inscription</a>
		</li>
		<li>
			<a href="#">Parent</a>
		</li>
		<li>
			<a href="#">Enfant</a>
		</li>
		<li>
			<a href="#">Choix d'un niveau</a>
		</li>
		<li>
			<a href="#">Scolarité</a>
		</li>
		<li>
			<a href="#">Paiement</a>
		</li>
		<li>
			<a href="#">Recapitulatif</a>
		</li>
		<li>Fiche d'inscription</li>
	</ul>
	<div class="w3-row w3-border mb-5">
		<div class="w3-col m2 tablink w3-bottombar w3-hover-border-green w3-hover-light-grey w3-padding w3-center">
			<span class="w3-badge w3-indigo">1</span><br/>
			Ajouter un parent
		</div>
		<div class="w3-col m2 tablink w3-bottombar  w3-hover-border-green w3-hover-light-grey w3-padding w3-center">
			<span class="w3-badge w3-indigo">2</span><br/>
			Ajouter un enfant
		</div>
		<div class="w3-col m2 tablink w3-bottombar  w3-hover-light-grey w3-padding w3-center">
			<span class="w3-badge w3-indigo">3</span><br/>
			Choix d'une classe</div>
		<div class="w3-col m2 tablink w3-bottombar w3-hover-border-green w3-hover-light-grey w3-padding w3-center">
			<span class="w3-badge w3-indigo">4</span><br/>
			Frais & Scolarité
		</div>
		<div class="w3-col m2 tablink w3-bottombar  w3-hover-border-green w3-hover-light-grey w3-padding w3-center withSteps">
			<span class="w3-badge w3-indigo">5</span><br/>
			Paiement
		</div>
		<div class="w3-col m2 tablink w3-bottombar  w3-hover-border-green w3-hover-light-grey w3-padding w3-center withSteps">
			<span class="w3-badge w3-indigo">6</span><br/>
			Recapitulatif
		</div>
		<div class="w3-col m2 tablink w3-bottombar w3-border-indigo  w3-green w3-hover-border-green w3-hover-light-grey w3-padding w3-center withSteps">
			<span class="w3-badge w3-indigo">7</span><br/>
			Fiche
		</div>
	</div>

	<div class="row">
		<div
			class="col-12">
			{# Bloc Enfant  #}
			<div class="w3-card-2 centered-element mb-5 mt-2" style="width:80%;">
				<header class="w3-container w3-green w3-padding">
					<h3>{{ child.getFullName() }}</h3>
				</header>
				<div class="w3-container w3-padding">
					<div class="row">
						<div class="col-3 photo-child">
							{% if child.getPhoto() %}
								{{ drupal_image(child.getPhoto().field_media_image.0.entity.uri.value) }}
							{% else %}
								<img src="/{{ photo }}" class="img-fluid rounded-circle picture-child w3-gray" alt="{{ content.title.value }}">
							{% endif %}
						</div>
						<div class="col">
							<table class="w3-table w3-bordered">
								<tr>
									<td>
										<strong>Genre:</strong>
									</td>
									<td>{{ child.getGender() }}</td>
								</tr>
								<tr>
									<td>
										<strong>Date de naissance:</strong>
									</td>
									<td>{{ child.getBirthday() }}</td>
								</tr>
								<tr>
									<td>
										<strong>Age:</strong>
									</td>
									<td>{{ child.getOldOfBirthday() }}
									</td>
								</tr>
								<tr>
									<td>
										<strong>Classe Française:</strong>
									</td>
									<td>{{ child.getFrenchClass() }}</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
			{# Bloc Parent #}
			<div class="w3-card-2 centered-element mb-5" style="width:80%;">
				<header class="w3-container w3-red w3-padding">
					<h3>{{ parent.getFullName() }}</h3>
				</header>
				<div class="w3-container w3-padding">
					<div class="row">
						<div class="col-3 photo-child mt-4">
							{% if parent.getPicture() %}
								{{ drupal_image(parent.getPicture().uri.0.value) }}
							{% else %}
								<img src="/{{ picture }}" class="img-fluid rounded-circle" alt="">
							{% endif %}
						</div>
						<div class="col">
							<table class="w3-table w3-bordered">
								<tr>
									<td>
										<strong>Civulité:</strong>
									</td>
									<td>{{ parent.getCivility() }}</td>
								</tr>
								<tr>
									<td>
										<strong>Type de parent:</strong>
									</td>
									<td>{{ parent.getTypeUser() }}</td>
								</tr>
								<tr>
									<td>
										<strong>Profession:</strong>
									</td>
									<td>{{ parent.fonction() }}</td>
								</tr>
								<tr>
									<td>
										<strong>Adresse:</strong>
									</td>
									<td>{{ parent.getAddress() }}</td>
								</tr>
								<tr>
									<td>
										<strong>Telephone:</strong>
									</td>
									<td>{{ parent.getPhone() }}</td>
								</tr>
								<tr>
									<td>
										<strong>Email:</strong>
									</td>
									<td>{{ parent.getEmail() }}</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>

			{# Bloc Classe #}
			<div class="w3-card-2 centered-element mb-5" style="width:80%;">
				<header class="w3-container w3-indigo w3-padding">
					<h3>{{ level.label.value }}
						-
						{{ course.label.value }}</h3>
				</header>
				<div class="w3-container w3-padding">
					<div class="row">
						<div class="col">
							<table class="w3-table w3-bordered">
								<tr>
									<td class="w3-light-grey">
										<strong>Libellé</strong>
									</td>
									<td class="w3-light-grey">
										<strong>Montant</strong>
									</td>
								</tr>
								<tr>
									<td>
										<strong>Frais d'inscription:</strong>
									</td>
									<td>{{ level.getFraisInscription() }}</td>
								</tr>
								<tr>
									<td>
										<strong>Frais de scolarité:</strong>
									</td>
									<td>{{ level.getTariff() }}</td>
								</tr>
								<tr>
									<td>
										<strong>Montant total:</strong>
									</td>
									<td>
										<span class="display-5">{{ level.getTotalTariffAndFees() }}
											€</span>/an
									</td>
								</tr>
								<tr>
									<td>
										<strong>Date d'inscription:</strong>
									</td>
									<td>{{ registration_date|date('d/m/Y') }}</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
			{# Bloc Paiement #}
			<div class="w3-card-2 centered-element mb-5" style="width:80%;">
				<header class="w3-container w3-blue-grey w3-padding">
					<h3>Moyen de paiement</h3>
				</header>
				<div class="w3-container w3-padding">
					<div class="row">
						<div class="col">
							<table class="w3-table w3-bordered">
								<tr>
									<td class="w3-light-grey">
										<strong>Libellé</strong>
									</td>
									<td class="w3-light-grey">
										<strong>Montant</strong>
									</td>
								</tr>
								<tr>
									<td>
										<strong>Montant total:</strong>
									</td>
									<td>
										<span class="display-5">{{ payment_amount }}€</span>
									</td>
								</tr>
								<tr>
									<td>
										<strong>Moyen de paiement:</strong>
									</td>
									<td>{{ payment_method }}</td>
								</tr>
								<tr>
									<td>
										<strong>Date de paiement:</strong>
									</td>
									<td>{{ payment_date }}</td>
								</tr>
								<tr>
									<td>
										<strong>Paiement status:</strong>
									</td>
									<td>
										<span class="badge w3-green">{{ payment_status }}</span>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
			{% if parent_id %}
				<div class="mt-4 w3-center mb-5">
					<a href="{{path('madrassa_parent.list.children', {'parentId': parent_id })}}">
						<button class="btn btn-primary">Liste des enfants</button>
					</a>
					<button class="btn btn-success">Télécharger la fiche</button>
				</div>
			{% endif %}
		</div>
	</div>
</div>
