{{ attach_library('madrassa_registration/registration') }}

<div class="container">
	<div class="w3-row mb-5">
		<div class="w3-col m2 tablink w3-bottombar w3-hover-border-green w3-hover-light-grey w3-padding">
			<span class="w3-badge w3-indigo">1</span>
			Ajouter un parent
		</div>
		<div class="w3-col m2 tablink w3-bottombar  w3-hover-border-green w3-hover-light-grey w3-padding">
			<span class="w3-badge w3-indigo">2</span>
			Ajouter un enfant
		</div>
		<div class="w3-col m2 tablink w3-bottombar w3-hover-border-green  w3-hover-light-grey w3-padding">
			<span class="w3-badge w3-indigo">3</span>
			Choix d'une classe
		</div>
		<div class="w3-col m2 tablink w3-bottombar w3-border-indigo  w3-green w3-hover-border-green w3-hover-light-grey w3-padding">
			<span class="w3-badge w3-indigo">4</span>
			Frais & Scolarité
		</div>
		<div class="w3-col m2 tablink w3-bottombar w3-hover-border-green w3-hover-light-grey w3-padding">
			<span class="w3-badge w3-indigo">5</span>
			Paiement
		</div>
		<div class="w3-col m2 tablink w3-bottombar w3-hover-border-green w3-hover-light-grey w3-padding">
			<span class="w3-badge w3-indigo">6</span>
			Recapitulatif
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="w3-card-2 centered-element" style="width:80%;">
				<header class="w3-container w3-indigo w3-padding w3-center">
					<h3>{{ level.label.value }}
						-
						{{ course.label.value }}</h3>
				</header>
				<div class="w3-container w3-padding">
					<table class="w3-table w3-bordered">
						<tr>
							<td class="w3-light-grey">
								<strong>Libellé</strong>
							</td>
							<td class="w3-light-grey">
								<strong>Montant</strong>
							</td>
						</tr>
						<tr>
							<td>
								<strong>Frais d'inscription:</strong>
							</td>
							<td>{{ level.getFraisInscription()}}</td>
						</tr>
						<tr>
							<td>
								<strong>Frais de scolarité:</strong>
							</td>
							<td>{{ level.getTariff() }}</td>
						</tr>
						<tr>
							<td>
								<strong>Montant total:</strong>
							</td>
							<td>
								<span class="display-1">{{ level.getTotalTariffAndFees() }}€</span>/an
							</td>
						</tr>
					</table>
				</div>
			</div>
               <form action="{{path('children.register.step3.schooling.store')}}" method="post">
                    <input type="hidden" name="payment_amount" value="{{ level.getTotalTariffAndFees() }}">
                    <input type="hidden" name="childId" value="{{ child.id.value }}">

                    <div class="mt-4 w3-center">
                        {# <button class="previous">&laquo; Précedent</button> #}
                        <button class="btn btn-primary" type="submit">Suivant &raquo;</button>
                    </div>
                </form>
		</div>
	</div>
</div>
